<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src=" {{ url_for('static', filename='index.js') }}">
        </script>
        <title>Currency Converter </title>
    </head>
    <body>
        <form id="form">
            <input id="currency" type="text" autocomplete="off" autofocus placeholder="Currency">
            <input type="submit" value="Get Exchange Rate">
        </form><br>
        <div id="result"></div>
    </body>
</html>

